table {
  width: 70%;
}
tr:hover {background-color: rgb(117, 117, 118);}
td:hover {background-color: rgb(173, 173, 173);}

tr:nth-child(even) {background-color: #949191;}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  padding-left: 25px;
}